Цель проекта:
- Сайт-среда для оптимизации продаж и покупок. На сайте есть типы пользователей, котрые взаимодействуют с заявкой.



Описание системы:
- В центре проекта находится заяква:
	- Заявка первоначально состоит из 3-х частей, после меняет статус на просчет, после (подтверждение), 
	меняет статус на - сделка. Так же по ходу преобразований статуса заявки к ней добавляются документы (счета и упд). 
	В конце пути, сделка представляется в виде таблицы. 

- Аутентификация и разделенный доступ у пользователей.
	Менеджер 3 имеет полный потенциал менеджера 1 и 2, так же может подтведждать и менять статус заявки и добавлять контров.
	Суперюзер имеет права менеджера3 + права казначея(дает разрешение на оплату, отправляя к буху счета), также 
	имеет доступ к странице с выводом статистики сделки и архиву(логи).
	(контры как и гость добавляются через админ панель)
	Гость имеет самый кастрированный доступ, может лишь разместить заявку1 или заявку2. 
	(это работники со стороны контрагентов, функция введена для увеличения продаж и конкуренции)
	Бухгалтер не видит лишнюю информацию, ей приходит по существу, что оплатить и кому. Бух имеет свою папку и возможность 
	подгружать документы к заявка/просчет/сделка. 

- Общий чат с датами для контроля.

- У каждого юзера есть уведомления.
	Приходит, когда нужно что либо сделать по рабочим заявка/просчет/сделка.

- Базы. 
	База контрагентов - продавцы. База контрагентов - покупатели. Их добавляет суперюзер или менеджер-направления(3).
	База контрагентов - логистика. Ее добавляет логист. (суперюзер имеет такую возможность)

- У контрагентов во всех 3х базах имеется рейтинг. (он присваевается после сделки)

Типы пользователей:

- Менеджер 1. Работает с базой контрагентов - продавцы. (добавть заявку от контрагента, которого нет в базе - нельзя)
	Имеет возможность создавать заявку1(первый блок). 
	На своем рабочем столе имеет удаленную папку и ссылку на базу контрагентов - продавцы.
	по ссылке видит упрощенную информацию:
	- Название ИНН
	- Склад (может быть несколько)
	- Товар (наименование, характеристики)
	- Контакты 
	но также может посмотреть карточку клиента:
	- Название ИНН
	- Платежные реквизиты
	- Форма оплаты
	- Адреса (Юридический, фактический, производства, прогрузка)
	- Товар
	- Дополнительная информация
	- Рейтинг

- Менеджер 2. Работает с базой контрагентов - покупатели. (добавть заявку от контрагента, которого нет в базе - нельзя)
	Имеет возможность создавать заявку2(второй блок).
	Аналогичен менеджеру1, отличия это База контрагентов.

- Менеджер 3. Менеджер направления. Имеет все возможности Менеджер1 и Менеджер2. 
	К нему попадает заявка, когда состоит из 3-х блоков и меняется статус на "просчет". Он как раз ее считает, 
	выгодна ли она, и имеет возможность поменять статус на "сделка".

- Менеджер Логист. Работает с базой контрагентов - логистика. И так же ищет перевозчиков из других источников. 
	Может добавлять базу логистика.
	После соединения блоков - заявка1 и заявка2 -> ему приходит уведомление. Он берет данные из этих блоков и 
	рассчитывает перевозку, составляя 3ий блок - заявка3. После его работы, меняется статус на "просчет" и 
	отправляется уведомление к менеджер3.

- Бухгалтер. 
	Бухгалтеру могут загружать документацию все, но давать разрешение на оплату может лишь суперюзер-казначей.
	Бух не видит заявки, только сделки, и только то, что нужно оплатить.

- Суперюзер-козначей.
	Имеет возможности - менеджер1, менеджер2, менеджер3, менеджер-логист. 
	Может "продвигать" цикл заявки. 
	Может добавлять Гостя.
	Имеет свою страницу статистики и полный доступ к архивам.

- Гость. Создается из админки.
	Имеет возможность создать 1ый или 2ой блок заявки. Всё.

Цикл заявка-просчет-сделка. (в любой момент, работники компании могут обратиться к заявка/просчет/сделка и посмотреть на какой стадии она находится)
	- создание 1 блока, менеджером1 ( -> уведомление менеджеру2 )
	- создание 2 блока, менеджером2	( -> уведомление менеджеру1 )
(заявка может начинаться и с 1ого блока и со 2ого блока, помимо менеджеров, может быть создана Менеджером3 или Гостем)
	- блок1 + блок2 -> уведомление менеджеру-логисту 
	- блок1 + блок2 + блок3 -> меняется статус на "просчет" -> уведомление менеджеру3
	- после одобрения менеджером3 (он редактирует и вводит окончательные цифры-> идет на проверку казначею -> уведомление суперюзеру-казначей 
	- после казначея меняется статус на сделка -> уведомление менеджер 1 (основание для платежа) 
	- после прикрепленя основания М1 -> уведомление казначей, одобрение -> уведомление буху
	- после оплаты и подгрузки документов -> уведомление М1 (счет оплачен и загружен), М1 контролирует погрузку
	- после погрузки подгружает скан УПД -> уведомление М2 (товар в пути) 
	товар может быть какое то время в пути, логист это контролирует (ему предыдущее сообщ можно продубл)
	- перед тем как товар приедет к покупателю М2 делает запрос Буху на исходящую УПД -> Уведомление казначей, одобрение -> уведомление Бух
	- после загрузки исходящей УПД -> уведомление М2, он контролирует разгрузку.

	После этого ждем от М2:
	1. подписанная УПД Пилигримм (исх) 
	2. Закрывающие документы по перевозке -> уведомление Логист
	3. Контроль оплаты и наличие оригиналов документов. (наличие ориг должно отображаться или их отсутсвие, по оплате отдельная табл у Казначей)







